:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757576;

}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para 
    el manejo de box model */
} 
/* Hack para el manejo de box model */ 
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

/* Tipografía */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/* Títulos */
.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    /* justify-content es para filas (row) y align-items, para columnas */
    justify-content: space-between;
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;   
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);

}

/*
Recomendado para Media Query
480px para móviles
768px para tablets
1140px para laptops
1400px para dispositivos más grandes
*/

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
 }
 
 /* Hero */
 .hero {
    background-image: url(../img/hero.jpg); /* 
    ../ es para regresar un nivel de directorio, 
    la carpeta img está afuera de CSS*/
    background-repeat: no-repeat; /* Para evitar que
    se repita la imagen si se hace zoom out */
    background-size: cover; /* Sirve para cubir la imagen
     con todo el tamaño de la pantalla */
    height: 450px; /* Alto del elemento hero */
    position: relative; /* El padre debe ser relative*/
 }

 .contenido-hero {
    position: absolute; /* El hijo debe ser absolute */
    background-color: rgba(0,0,0,.7); /* 70% de transparencia */
    width: 100%;
    height: 100%;
    /* Alinear vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .contenido-hero p, .contenido-hero h2{
    color: var(--blanco);
 }

 .ubicacion{
    display: flex;
    align-items: flex-end;
 }

 .boton{
    background-color: var(--secundario); /* Color de fondo */
    text-decoration: none; /* Quitar subrayado */
    padding: 1rem 3rem; /* Espacio interior */
    border-radius: .5rem; /* Esquinas redondeadas */
    color: var(--blanco); /* Color de la letra */
    margin-top: 3rem;  /* Espacio exterior hacia arriba */
    font-weight: bold; /* En negritas */
    font-size: 2rem; /* Tamaño de la letra */
    text-transform: uppercase; /* Poner en mayúsculas */
    text-align: center; /* Centrar texto */
    width: 90%; /* Ancho del botón, que 
    abarque el 90% si la pantalla es pequeña */
}

 @media (min-width: 768px) {
    .boton {
        width: auto;
    }
  }




